*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {

    background-image: url(/images/back4edit.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.title h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

.title h6 {
    opacity: 0.8;
    font-size: 15px;
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    position: relative;
    width: 800px;
    margin: 20px auto 0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 70px 25px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2);
}

ul li {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    margin: 20px 0;
    transition: 0.5s;
    border-radius: 8px;
}

ul li:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.6);
}

ul li:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.4);
}

ul li:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.2);
}

ul li span:nth-child(1) {
    width: 208px;
}

ul li span:nth-child(2) {
    width: 200px;
}

ul li span:nth-child(3) {
    width: 100px;
    text-align: right;
}

ul li span:nth-child(4) {
    width: 300px;
    text-align: right;
}

ul li:hover {
    transform: scale(1.06);
    background-color: #f17c0e33;
}


.animate img {
    width: 50px;
    animation: anime 7s linear infinite;
}

.animate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -70px;

}

@keyframes anime {
    0% {
        transform: translateY(0);
        opacity: 0;

    }

    50% {

        opacity: 1;

    }

    70% {

        opacity: 1;

    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;

    }
}


.animate img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.animate img:nth-child(2) {
    animation-delay: 1s;
}

.animate img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}

.animate img:nth-child(4) {
    animation-delay: 4.5s;
}

.animate img:nth-child(5) {
    animation-delay: 3s;
}

.animate img:nth-child(6) {
    width: 20px;
    animation-delay: 6s;
}

.animate img:nth-child(7) {
    width: 35px;
    animation-delay: 7s;
}

@media (max-width: 768px) {

    ul {
        position: relative;
        width: 325px;
        margin: 20px auto 0;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 70px 25px;
        overflow: hidden;
        box-shadow: inset 0 0 15px rgb(255 255 255 / 20%);
    }

    ul li {
        display: flex;
        padding: 20px 8px;
        margin: 15px 4px;
        transition: 0.5s;
        flex-wrap: wrap;
    }

    ul li span:nth-child(1) {
        width: 74px;
    }

    ul li span:nth-child(2) {
        width: 15px;
    }

    ul li span:nth-child(3) {
        width: 120px;
        text-align: right;
    }

    .status{
        margin-top: -35px;
    }

    span {
        margin-right: 3px;
    }
}